// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.receipt{
    .card {
        height: 400px;
    }
    .qty {
        width: 45px;
        float: left;
    }
}

.order-product {
    .item {
        float: left;
        border: 1px solid #ccc;
        border-radius: 3px;
        background: #fff;
        margin: 0 2px 4px 2px;
        img {
            width: 100px;
            height: 100px;
            max-width: 100%;
        }
        h5 {
            font-size: 13px;
            text-align: center;
        }
    }
}
