/* .receipt-cart .card{
    height: 500px;
}

.order-product .item{
    float: left;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    margin: 0 2px 4px 2px;
}

.order-product .img{
    width: 100px;
    height: 100px;
    max-width: 100%;
}

.order-product h5{
    font-size: 17px;
    text-align: center;
} */
